@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Roles</h2>
<a asp-action="Create" asp-controller="Role">Create</a>

<div class="tbl-container"><table>
    <thead>
        <tr>
            <th>
                Role ID
            </th>
            <th>
                Role Name
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Delete" asp-controller="Role" asp-route-id="@role.Id">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Role" asp-route-id="@role.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table></div>
