@model IEnumerable<Flower_Models.Message>

@{
    ViewData["Title"] = "ChatUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-5/6 mx-auto mt-2 mb-24">
    <div class="rounded-3xl text-white shadow-md" style="background-image:url(https://images.unsplash.com/photo-1513297887119-d46091b24bfa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); box-shadow: inset 5px -100px 120px 40px rgba(0, 0, 0, 0.9);">
        <!-- top -->
        <div class="row flex gap-2 border-b px-8 py-5">
            <div class="h-4 w-4 rounded-full bg-red-600"></div>
            <div class="h-4 w-4 rounded-full bg-yellow-300"></div>
            <div class="h-4 w-4 rounded-full bg-green-500"></div>
        </div>

        <!-- body -->
        <div id="chatScroll" class="web-scrollbar w-full px-8 py-6" style="height: 720px; scroll-behavior:smooth; -ms-overflow-style: none; overflow-y: scroll; ">
            <div class="w-full text-center mb-5" style="color: lightgoldenrodyellow;">
                <div class="flex justify-between">
                    <div>
                        00 : 00 : 00 A.M
                    </div>
                    <div>
                        Wed, December 13, 2023
                    </div>
                </div>
                <div style="font-size: 10em" class="drop-shadow-md">𝔐𝔢𝔯𝔯𝔶 ℭ𝔥𝔯𝔦𝔰𝔱𝔪𝔞𝔰</div>
                <div style="font-size: 20px; width: 30em" class="mx-auto font-semibold">Thank you for reaching out. We received your message and will reply to you within 24 hours.</div>
            </div>
            @{
                foreach (var mess in Model)
                {
                    var userType = mess.UserType == Flower_Models.UserType.User ? ViewBag.nameUser : "Admin";

                    if (mess.Content is null || mess.Content == "") { }
                    else
                    {
                        if (userType != "Admin")
                        {
                            <div class="w-full flex mb-4 justify-end">
                                <div class="rounded-3xl px-4 py-3 bg-green-900 bg-opacity-75 font-semibold" style="width: 400px">@mess.Content</div>
                            </div>
                        }
                        else
                        {
                            <div class="w-full flex mb-4">
                                <div class="rounded-3xl px-4 py-3 bg-black bg-opacity-75 font-semibold" style="width: 400px">@mess.Content</div>
                            </div>
                        }
                    }
                }
            }
            <!-- ------------------------------------------------------------------------------------------- -->
            <div id="chatArea" class="space-y-10"></div>
            <!-- ------------------------------------------------------------------------------------------- -->
        </div>

        <!-- bottom -->
        <div class="row flex items-center justify-between px-8 pt-6 pb-10 gap-8">
            <div class="rounded-full bg-white p-3 text-black">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                </svg>
            </div>

            <input id="messageInput" type="text" class="w-full border-b rounded-full px-6 py-3 focus:outline-none text-black" placeholder="Type your message">


            <div class="flex w-auto gap-6">
                <button class="rounded-full bg-yellow-300 hover:bg-yellow-400 py-3 px-6 text-black" id="sendButton">
                    Send
                </button>
                <div class="rounded-full bg-white p-3 text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.12/signalr.min.js"></script>

    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        connection.start().catch(err => console.error(err.toString()));

        document.getElementById("sendButton").addEventListener("click", function (event) {
            //const user = document.getElementById("userInput").value;
            const room = "@ViewBag.Id";
            const message = document.getElementById("messageInput").value;
            const user = "@ViewBag.nameUser";

            /// kiểm tra id user và lấy idUser thay thế room

            connection.invoke("JoinRoom", room).catch(err => console.error(err.toString())); // Tham gia vào phòng
            //connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
            connection.invoke("SendMessageToRoom", room, message, user).catch(function (err) {
                return console.error(err.toString());
            });
            document.getElementById("messageInput").value = "";
            event.preventDefault();
        });

        connection.on("ReceiveMessage", function (user, message) {
            const chatArea = document.getElementById("chatArea");
        if (message == "") { }
        else {
            chatArea.innerHTML +=`<div class="w-full flex mb-4 justify-end">
                                        <div class="rounded-3xl px-4 py-3 bg-green-900 bg-opacity-75 font-semibold" style="width: 400px">${message}</div>
                                </div>`
        }


        var scrollingDiv = $("#chatScroll");
        function scrollToBottom() {
            scrollingDiv.scrollTop(scrollingDiv[0].scrollHeight);
        }
        scrollToBottom();
        });
    </script>
