@model IEnumerable<FlowerShop_Web.Models.Flower_Models.Post>

<section class="p-6 my-2">
    <div class="flex flex-wrap gap-3">
        @foreach (var item in Model)
        {
            <!-- news-card -->
            <div class="max-w-sm overflow-hidden rounded shadow-lg">
                <!-- news-card-img -->
                <img class="w-full" src="https://images.unsplash.com/photo-1502977249166-824b3a8a4d6d?auto=format&fit=crop&q=80&w=2080&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Mountain" />
                <div class="px-6 py-4">
                    <span class="mb-1 inline-block text-xs text-gray-500">@item.CreatedAt</span>
                    <div class="mb-2 truncate text-xl font-bold">@item.Title</div>
                    <p class="truncate text-gray-700">@item.Content</p>
                </div>
                <div class="mb-4 flex items-center justify-between px-6 py-2">
                    <div class="flex space-x-3">
                        <span class="rounded-full bg-gray-100 px-3 py-2 text-xs">#PinkLily</span>
                        <span class="rounded-full bg-gray-100 px-3 py-2 text-xs">#NewYear</span>
                    </div>
                    <a asp-action="PostDetail" asp-controller="Post" asp-route-id="@item.ID_Post" class="inline-block cursor-pointer rounded-sm bg-black px-4 py-2 text-sm font-semibold text-white hover:bg-yellow-400 hover:text-black">View More</a>
                </div>
            </div>
        }
    </div>
</section>