@model Flower_Models.ProductWarehouse

@{
    ViewData["Title"] = "Edit";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ProductWarehouse</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Shop" class="control-label"></label>
                <input asp-for="ID_Shop" class="form-control" />
                <span asp-validation-for="ID_Shop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Product" class="control-label"></label>
                <input asp-for="ID_Product" class="form-control" />
                <span asp-validation-for="ID_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock_Quantity" class="control-label"></label>
                <input asp-for="InStock_Quantity" class="form-control" />
                <span asp-validation-for="InStock_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sold_Quantity" class="control-label"></label>
                <input asp-for="Sold_Quantity" class="form-control" />
                <span asp-validation-for="Sold_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button> <a asp-action="Index"> <i class="fa-solid fa-arrow-rotate-left"></i> <span class="ps-4">Back</span> </a> </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
