@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Flower_ViewModels.AccoutManagerVM

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/6e08fcf7ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        #menu-toggle:checked + #menu {
            display: block;
        }

        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }

            .hover\:grow:hover {
                transform: scale(1.02);
            }

        .group:hover .group-hover\:block {
            display: block !important;
        }
    </style>
    <title>Profile</title>
</head>
<body>
    <div class="mb-8 flex h-32 w-full justify-center bg-stone-100 md:mb-0 md:justify-end" style="background-image:url('https://i.pinimg.com/564x/23/3b/b6/233bb616530879e6e2725491be4f4ff4.jpg'); --tw-bg-opacity: 0.25; ">
        <img src="https://i.pinimg.com/564x/50/a2/41/50a2415a5c2bdc190c2ebb356fd54ddc.jpg" alt="" class="h-40 w-40 m-8 rounded-full border border-black object-cover md:me-24 lg:me-40" />
        <hr class="text-black" />
    </div>
    <div class="flex flex-col space-y-12 p-12 md:flex-row md:space-x-12 md:space-y-0">
        <partial name="_UserSideBarPV.cshtml" />
        <div class="w-full md:w-2/3 lg:w-4/5">
            <form asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="mb-8 text-5xl">My Profile</h1>
                <h3 class="text-xl font-thin text-gray-600">Personal information</h3>
                <hr class="mb-8 mt-2" />
                <div class="grid w-full grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-2">

                    <div class="relative">
                        <input asp-for="FirstName" type="text" id="name" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="name" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Name</label>
                    </div>
                    <div class="relative">
                        <input asp-for="LastName" type="text" id="surname" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="surname" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Surname(s)</label>
                    </div>
                    <div class="relative">
                        <input asp-for="Phone" type="tel" id="tel" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="tel" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Telephone no.</label>
                    </div>
                    <div class="relative">
                        <input readonly asp-for="Email" type="email" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Email</label>
                    </div>
                    <div class="relative">
                        <input asp-for="Address" type="text" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Address</label>
                    </div>
                    <div class="relative">
                        <input asp-for="Street" type="text" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Street</label>
                    </div>
                    <div class="relative">
                        <input asp-for="Ward" type="text" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Ward</label>
                    </div>
                    <div class="relative">
                        <input asp-for="District" type="text" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">District</label>
                    </div>
                    <div class="relative">
                        <input asp-for="City" type="text" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="email" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">City</label>
                    </div>
                    <button class="w-full justify-self-end border border-gray-200 bg-black px-8 py-2 text-center text-white hover:border-black lg:col-span-2 lg:w-48">Update Profile</button>

                </div>

                <h3 class="mt-8 text-xl font-thin text-gray-600 lg:mt-0">Password</h3>
                <hr class="mb-8 mt-2" />
                <div class="grid w-full grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-2">
                    <div class="relative">
                        <input asp-for="OldPassword" title="pass" type="password" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="name" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Old password</label>

                        <span asp-validation-for="OldPassword" class="text-danger"></span>

                    </div>

                    <br />
                    <div class="relative">
                        <input id="password" onInput="validatePassword()" asp-for="NewPassword" title="pass" type="password" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="name" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">New password</label>
                        <br>
                        <div id="set">
                            <div id="count">Length : 0</div>
                            <i id="see" onclick="see()" class="far fa-eye"></i>
                        </div>
                        <div id="check0">
                            <i class="far fa-check-circle"></i>  <span> Length more than 6.</span>
                        </div>
                        <div id="check1">
                            <i class="far fa-check-circle"></i>  <span> Length less than 20.</span>
                        </div>
                        <div id="check2">
                            <i class="far fa-check-circle"></i>  <span> Contains numerical character.</span>
                        </div>
                        <div id="check3">
                            <i class="far fa-check-circle"></i>   <span>Contains special character.</span>
                        </div>
                        <div id="check4">
                            <i class="far fa-check-circle"></i>  <span>Shouldn't contain spaces.</span>
                        </div>
                        <div id="check5">
                            <i class="far fa-check-circle"></i>  <span>Shouldn't contain uppercase.</span>
                        </div>
                        <div id="check6">
                            <i class="far fa-check-circle"></i>  <span>Shouldn't contain lowercase.</span>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <p id="passwordMessage"></p>
                    </div>
                    <div class="relative">
                        <input asp-for="ConfirmPassword" title="confirm-pass" type="password" class="peer block w-full appearance-none rounded-sm border border-gray-400 bg-transparent px-4 py-4 text-base text-gray-900 focus:border-blue-600 focus:outline-none" placeholder="" />
                        <label for="surname" class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600">Confirm new password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button disabled id="submitButton" onclick="submitButton()" class="w-full justify-self-end border border-gray-200 bg-black px-8 py-2 text-center text-white hover:border-black lg:col-span-2 lg:w-48">Change Password</button>


                </div>
            </form>
        </div>
    </div>

    <script src="/js/sidebar.js"></script>
</body>
</html>


<script>
    var is_visible = false;

    function see() {
        var input = document.getElementById("password");
        var see = document.getElementById("see");

        if (is_visible) {
            input.type = 'password';
            is_visible = false;
            see.style.color = 'gray';
        }
        else {
            input.type = 'text';
            is_visible = true;
            see.style.color = '#262626';
        }

    }
    function validatePassword() {

        var input = document.getElementById("password").value;

        input = input.trim();
        document.getElementById("password").value = input;
        document.getElementById("count").innerText = "Length : " + input.length;
        if (input.length >= 8) {
            document.getElementById("check0").style.color = "green";
        }
        else {
            document.getElementById("check0").style.color = "red";
        }

        if (input.length <= 20) {
            document.getElementById("check1").style.color = "green";
        }
        else {
            document.getElementById("check1").style.color = "red";
        }

        if (input.match(/[0-9]/i)) {
            document.getElementById("check2").style.color = "green";
        }
        else {
            document.getElementById("check2").style.color = "red";
        }

        if (input.match(/[^A-Za-z0-9-'']/i)) {
            document.getElementById("check3").style.color = "green";
        }
        else {
            document.getElementById("check3").style.color = "red";
        }

        if (input.match(' ')) {
            document.getElementById("check4").style.color = "red";
        }
        else {
            document.getElementById("check4").style.color = "green";
        }

        if (input.match(/[A-Z]/)) {
            document.getElementById("check5").style.color = "green";
        }
        else {
            document.getElementById("check5").style.color = "red";
        }

        if (input.match(/[a-z]/)) {
            document.getElementById("check6").style.color = "green";
        }
        else {
            document.getElementById("check6").style.color = "red";
        }

        var passwordInput = document.getElementById('password').value;
        var passwordMessage = document.getElementById('passwordMessage');

        // Kiểm tra các điều kiện
        var hasUppercase = /[A-Z]/.test(passwordInput);
        var hasLowercase = /[a-z]/.test(passwordInput);
        var hasNumber = /\d/.test(passwordInput);
        var hasSpecialChar = /[^A-Za-z0-9-'']/i.test(passwordInput);
        var isLengthValid = passwordInput.length >= 8;
        var isLengthValid2 = passwordInput.length <= 20;
        var isSpacing = /[' ']/i.test(passwordInput);

        // Hiển thị thông báo tương ứng
        if (hasUppercase && hasLowercase && hasNumber && hasSpecialChar && isLengthValid && isLengthValid2 && !isSpacing) {
            passwordMessage.style.color = 'green';
            passwordMessage.textContent = 'Password is strong!';
            submitButton.disabled = false;
        }
        if (!hasUppercase) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;
        }
        if (!hasLowercase) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;

        }
        if (!hasNumber) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;
        }
        if (!hasSpecialChar) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;

        }
        if (!isLengthValid) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;
        }
        if (!isLengthValid2) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;
        }
        if (isSpacing) {
            passwordMessage.style.color = 'red';
            passwordMessage.textContent = 'Password is weak. Please follow the password requirements.';
            submitButton.disabled = true;

        }
    }

</script>
