@* 
@{
    ViewData["Title"] = "CheckOut_Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CheckOut_Guest</h1>

<h4>CheckOut_GuestVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckOut_Guest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_Bill" class="control-label"></label>
                <input asp-for="ID_Bill" class="form-control" />
                <span asp-validation-for="ID_Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Customer" class="control-label"></label>
                <input asp-for="ID_Customer" class="form-control" />
                <span asp-validation-for="ID_Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Voucher" class="control-label"></label>
                <input asp-for="ID_Voucher" class="form-control" />
                <span asp-validation-for="ID_Voucher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveredAt" class="control-label"></label>
                <input asp-for="DeliveredAt" class="form-control" />
                <span asp-validation-for="DeliveredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillStatus" class="control-label"></label>
                <input asp-for="BillStatus" class="form-control" />
                <span asp-validation-for="BillStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Shop" class="control-label"></label>
                <input asp-for="ID_Shop" class="form-control" />
                <span asp-validation-for="ID_Shop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Product" class="control-label"></label>
                <input asp-for="ID_Product" class="form-control" />
                <span asp-validation-for="ID_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Quantity" class="control-label"></label>
                <input asp-for="Product_Quantity" class="form-control" />
                <span asp-validation-for="Product_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Bill" class="control-label"></label>
                <input asp-for="Total_Bill" class="form-control" />
                <span asp-validation-for="Total_Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 *@