@model Flower_ViewModels.OrderVM

@{
    ViewData["Title"] = "goToOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Flower_Repository;
@using Flower_ViewModels;
@using Microsoft.AspNetCore.Identity;
@inject ApplicationDbContext _context;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/6e08fcf7ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        #menu-toggle:checked + #menu {
            display: block;
        }

        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }

            .hover\:grow:hover {
                transform: scale(1.02);
            }

        .group:hover .group-hover\:block {
            display: block !important;
        }
    </style>
    <title>Purchase</title>
</head>
<body>
    <form asp-action="getOrder">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w-full px-12 py-8">
            <!-- go back -->
            <button class="mb-4 flex space-x-4 text-lg hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                </svg>
                <span>Go back</span>
            </button>
            <h2 class="mb-8 text-center text-4xl font-bold uppercase">Your Payment</h2>
            <div class="flex-none justify-around space-y-8 lg:flex lg:space-x-12 lg:space-y-0">
                <div class="w-auto space-y-8 text-start text-lg">
                    <!-- recipient's info -->

                    <div class="space-y-4">
                        <h3 class="text-2xl font-medium">1. Who do you want to send the gift to?</h3>
                        @* <input type="text" name="" id="recipient-name" required placeholder="Recipient's full name *" class="w-full rounded-sm border px-8 py-2" /> *@
                        <input asp-for="Name" type="text" required placeholder="Recipient's full name *" class="w-full rounded-sm border px-8 py-2" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        @* <input type="tel" name="" id="phone-num" required placeholder="Recipient's phone no. *" class="w-full rounded-sm border px-8 py-2" /> *@
                        <input asp-for="Phone" type="tel" required placeholder="Recipient's phone no. *" class="w-full rounded-sm border px-8 py-2" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                        <p class="italic text-gray-600">Please provide recipient's phone number to facilitate delivery.</p>
                        @*   <input type="text" name="" id="address" required placeholder="Address (street, number, ward, district, city) *" class="w-full rounded-sm border px-8 py-2" /> *@
                        <select asp-for="City" class="form-control" asp-items="@ViewBag.Location">
                            <option>Select City</option>
                        </select>
                        <span asp-validation-for="City" class="text-danger"></span>
                        <input asp-for="Address" type="text" required placeholder="Address (street, number, ward, district, ...) *" class="w-full rounded-sm border px-8 py-2" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <!-- message -->
                    <div class="space-y-4">
                        <h3 class="text-2xl font-medium">2. Add a message</h3>
                        @* <textarea asp-for="Message" rows="4" class="w-full rounded-sm border px-4 py-2" /> *@
                        <textarea asp-for="Message" id="" rows="4" class="w-full rounded-sm border px-4 py-2"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <!-- billing info -->
                    <div class="space-y-4">
                        <h3 class="text-2xl font-medium">3. Your billing information</h3>
                        @*   <input type="checkbox" name="" id="same-as-recipient" /> *@
                        @*    <label for="same-as-recipient" class="text-lg">Same as Recipient Information</label> *@
                        <input asp-for="Name_Order" type="text" required placeholder="Recipient's full name *" class="w-full rounded-sm border px-8 py-2" />
                        <span asp-validation-for="Name_Order" class="text-danger"></span>
                        <input asp-for="Phone_Order" type="tel" required placeholder="Recipient's phone no. *" class="w-full rounded-sm border px-8 py-2" />
                        <span asp-validation-for="Phone_Order" class="text-danger"></span>
                    </div>
                    <!-- payment method -->
                    <div class="space-y-4">
                        <h3 class="text-2xl font-medium">4. Select payment method</h3>
                        <div class="flex h-24 items-center justify-between border px-8">
                            <div>
                                <input title="payment-methods" type="radio" name="payment-methods" id="card" />
                                <label for="paypal">Credit/Debit card</label>
                            </div>
                            <img src="https://clipground.com/images/visa-mastercard-logo-png-1.jpg" alt="" class="my-4 h-12 w-auto pe-12" />
                        </div>
                        <div class="flex h-24 items-center justify-between border px-8">
                            <div>
                                <input title="payment-methods" type="radio" name="payment-methods" id="momo" />
                                <label for="paypal">Momo</label>
                            </div>
                            <img src="https://th.bing.com/th/id/R.be2f48b16b14bd3368c34d9fdd348909?rik=AJ3CC5RVk%2fQ2hg&pid=ImgRaw&r=0" alt="" class="my-4 h-12 w-auto pe-12" />
                        </div>
                        <div class="flex h-24 items-center justify-between border px-8">
                            <div>
                                <input type="radio" name="payment-methods" id="paypal" />
                                <label for="paypal">Paypal</label>
                            </div>
                            <img src="https://th.bing.com/th/id/R.bd1419f2f730ef7ba64126743e0e391e?rik=uzFTmd6DoZgPdQ&riu=http%3a%2f%2flogok.org%2fwp-content%2fuploads%2f2014%2f05%2fPayPal-logo-20071.png&ehk=Lv0x8oYjHOwb0iyN03M6R%2fR6uaDne%2bj853%2b9DKrXFe8%3d&risl=&pid=ImgRaw&r=0" alt="" class="h-20 w-auto pe-8" />
                        </div>
                        <div class="flex h-24 items-center justify-between border px-8">
                            <div>
                                <input type="radio" name="payment-methods" id="paypal" />
                                <label for="paypal">COD</label>
                            </div>
                            <img src="https://www.getnow.pk/wp-content/uploads/2020/06/cash-on-delivery-logo-01.png" alt="" class="h-20 w-auto pe-8" />
                        </div>
                    </div>

                </div>
                <!-- summary -->
                <div class="w-full border lg:w-96 lg:border-none">
                    <div class="space-y-6 rounded-sm p-12 pb-24 text-center shadow-lg">
                        <h3 class="text-2xl font-medium">Order Summary</h3>
                        <hr />
                        @*  <div class="flex h-auto w-full items-center justify-between space-x-8 text-gray-900 lg:space-x-12">
                   
                        <div class="space-y-2 text-end">
                        <h4 class="text-xl font-medium">Product Name</h4>
                        <p class="italic">Classic</p>
                        <h5 class="text-xl font-medium">£9.99</h5>
                        </div>
                        </div>
                        <div class="flex items-baseline justify-between">
                        <span>Quantity</span>
                        <h4 class="text-xl font-medium">3</h4>
                        </div>
                        <hr />
                        <div class="flex items-baseline justify-between">
                        <span>Subtotal</span>
                        <h4 class="text-xl font-medium">£29.97</h4>
                        </div> *@
                        @{
                            var subtotal = 0.0;
                        }
                        @foreach (var item in Model.CartDetails)
                        {
                            <div class="flex h-auto w-full items-center justify-between space-x-8 text-gray-900 lg:space-x-12">
                                @{
                                    var pro = _context.Products.Where(x => x.ID_Product == item.ID_Product).FirstOrDefault();
                                    var sub = pro.Price_Product * item.Product_Quantity;
                                    subtotal += sub;
                                }@* 
                                <img src="\@pro.Img_Product" alt="" class="h-24 w-24 rounded-full" /> *@
                                <div class="space-y-2 text-end">
                                    <h4 class="text-xl font-medium">@pro.Name_Product</h4>
                                    @*   <p class="italic">Classic</p> *@
                                 
                                    <h5 class="text-xl font-medium">$@pro.Price_Product</h5>
                                </div>
                            </div>
                            <div class="flex items-baseline justify-between">
                                <span>Quantity</span>
                                <h4 class="text-xl font-medium">@item.Product_Quantity</h4>
                            </div>
                            <hr />
                            <div class="flex items-baseline justify-between">
                                <span>Price</span>
                                <h4 class="text-xl font-medium">@sub</h4>
                            </div>
                        }
                        <hr />
                        <div class="flex items-baseline justify-between">
                            <span>Subtotal</span>
                            <h4 class="text-xl font-medium">$@subtotal</h4>
                        </div>
                        <input asp-for="DeliveredAt" class="form-control" />
                        <span asp-validation-for="DeliveredAt" class="text-danger"></span>
                        <div class="space-y-2">
                            <div class="flex items-baseline justify-between">
                                <span>Shipping fee</span>
                                <h4 class="text-xl font-medium">$8.9</h4>
                            </div>
                            @*   <select title="delivery-types" name="" id="" class="w-full appearance-none rounded-sm border bg-inherit px-4 py-2 text-center hover:font-light">
                            <option value="">Standard Delivery - £2</option>
                            <option value="">Express Delivery - £4</option>
                            </select> *@
                        </div>
                        <div class="space-y-2">
                            <div class="flex items-baseline justify-between">
                                <span>Discount</span>
                                <h4 class="text-xl font-medium">0</h4>
                            </div>
                            <div class="flex w-full">
                                <input asp-for="Code" type="text" placeholder="Enter your Promo code" class="w-3/4 rounded-sm border px-4 py-2" />
                                <span asp-validation-for="Code" class="text-danger"></span>

                                <button class="w-1/4 rounded-sm border bg-black px-4 py-2 text-white hover:border-black">Apply</button>
                            </div>
                        </div>
                        <hr />
                        @{
                            var total = subtotal + 8.9;
                        }
                        <div class="flex items-baseline justify-between">
                            <span>Total</span>
                            <h3 class="text-2xl font-medium">$@total</h3>
                        </div>
                        <button class="w-full rounded-sm border bg-black px-4 py-2 text-white hover:border-black">Check out</button>
                    </div>
                </div>
            </div>
            <div class="m-12 space-y-4">
                <input type="checkbox" name="" id="accept-term" />
                <label for="accept-term" class="text-lg">By placing this order, I accept the <b>Terms and Conditions</b> of the purchase and the <b>Privacy Policy.</b> </label><br />
                <button class="rounded-sm border bg-black px-8 py-2 text-white  text-xl h-12 hover:border-black hover:font-medium">Complete payment</button>
                <p class="italic text-gray-600">On completing your purchase a confirmation page will open with the details of your order.</p>
            </div>
        </div>
    </form>>
</body>
</html>
