@{
    ViewData["Title"] = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="w-full space-y-8 px-20 py-12">
        <div class="flex items-end justify-between">
            <h2 class="text-4xl font-bold uppercase">Order Confirmation</h2>
            <p>Order Total: <span class="text-2xl font-bold">£31.27</span></p>
            <button class="rounded-sm border bg-black px-4 py-2 text-white hover:border-black">Place Order</button>
        </div>
        <div class="grid grid-cols-1 gap-y-8 p-12 shadow-lg lg:grid-cols-2 lg:gap-12">
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h4 class="text-xl font-medium">Recipient's Information</h4>
                    <a href="" class="text-base italic text-gray-600 hover:not-italic">Edit</a>
                </div>
                <hr />
                <p title="name">Laura Lyn</p>
                <p title="phone-num">012 45 78</p>
                <p title="address">Dang Van Ngu street, Khue Trung ward, Cam Le district, Da Nang city, Vietnam</p>
            </div>
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h4 class="text-xl font-medium">Message</h4>
                    <a href="" class="text-base italic text-gray-600 hover:not-italic">Edit</a>
                </div>
                <hr />
                <p title="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita corporis alias at perspiciatis inventore, ea explicabo, laboriosam voluptate ab eveniet veritatis quae dolorem eos iste. Facilis non eius culpa ad!</p>
            </div>
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h4 class="text-xl font-medium">Billing Information</h4>
                    <a href="" class="text-base italic text-gray-600 hover:not-italic">Edit</a>
                </div>
                <hr />
                <p title="name">John Mark</p>
                <p title="phone-num">037 11 11</p>
            </div>
            <div class="space-y-2">
                <div class="flex justify-between">
                    <h4 class="text-xl font-medium">Payment</h4>
                    <a href="" class="text-base italic text-gray-600 hover:not-italic">Edit</a>
                </div>
                <hr />
                <div class="flex h-auto items-center justify-between">
                    <p title="payment-method">Payment Paypal</p>
                    <img src="https://th.bing.com/th/id/R.b5f18a7811313acc26089414c5c496e3?rik=fsw16JZ5a5Mz8Q&riu=http%3a%2f%2fpngimg.com%2fuploads%2fpaypal%2fpaypal_PNG25.png&ehk=qaLCkNKj%2fVA1Ql%2bAyy9S4jwDNUsmKUD9UuyU7GcZCs4%3d&risl=&pid=ImgRaw&r=0" alt="" class="h-12 w-auto pe-8" />
                </div>
            </div>
        </div>
    </div>
</body>

