@model Flower_Models.Bill
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="w-full space-y-8 px-20 py-12">
        <div class="flex items-end justify-between">
            <h2 class="text-4xl font-bold uppercase">Order Confirmed!</h2>
            <p>Order No. <span class="text-2xl font-bold">#@Model.ID_Bill</span></p>
            <button class="min-w-fit rounded-sm border bg-black px-4 py-2 text-white hover:border-black">View Tracking</button>
        </div>
        <div title="thanks" class="space-y-2">
            <h3 class="text-2xl font-medium">Thank you for shopping with us!</h3>
            <p>
                Hello <b>@Model.Name_Order</b>, your order has been placed and will be shipped soon!<br />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus officiis quia eaque.
            </p>
        </div>
        <div class="grid grid-cols-1 gap-y-8 p-12 shadow-lg lg:grid-cols-2 lg:gap-12">
            <div class="space-y-2">
                <h4 class="text-xl font-medium">Order No.</h4>
                <hr />
                <p title="id">#@Model.ID_Bill</p>
            </div>
            <div class="space-y-2">
                <h4 class="text-xl font-medium">Order Total</h4>
                <hr />
                <p title="total">$@Model.Total_Bill</p>
            </div>
            <div class="space-y-2">
                <h4 class="text-xl font-medium">Created Date</h4>
                <hr />
                <p title="date">@Model.CreatedAt</p>
            </div>
            <div class="space-y-2">
                <h4 class="text-xl font-medium">Est. Delivery Time</h4>
                <hr />
                <p title="time">2 - 4 working hours</p>
            </div>
            <div class="space-y-2">
                <h4 class="text-xl font-medium">Delivery Address</h4>
                <hr />
                @* <p title="Address">Dang Van Ngu street, Khue Trung ward, Cam Le district, Da Nang city, Vietnam</p> *@
                <p title="Address">@Model.Address, @Model.City</p>

            </div>
        </div>
    </div>
</body>