@inject ApplicationDbContext _context;
@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager
@using FloweShop_Web.Models.Flower_Repository;
@using FlowerShop_Web.Models.Flower_Models;
@using FlowerShop_Web.Models.Flower_ViewModels;
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Florist Store - Homepage</title>

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/6e08fcf7ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        #menu-toggle:checked + #menu {
            display: block;
        }

        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }

            .hover\:grow:hover {
                transform: scale(1.02);
            }

        .group:hover .group-hover\:block {
            display: block !important;
        }

        .web-scrollbar::-webkit-scrollbar
        {
            display: none;
        }

    </style>
</head>

<body class="work-sans bg-white text-base leading-normal tracking-normal">
    <!--Nav-->
    <nav id="header" class="top-0 z-30 w-full py-3">
        <div class="container mx-auto mt-0 flex w-full flex-wrap items-center justify-between py-2">
            <div>
                <a class="items-center tracking-wide text-gray-800 no-underline hover:no-underline" asp-action="Index" asp-controller="Home">
                    <div class="gap-4">
                        <div class="text-2xl font-bold leading-2">Florist Store</div>
                        <div class="text-xs text-wrap">Group 4 . 2023.</div>
                    </div>
                </a>
            </div>
            <nav class="inline-block">
                <ul class="items-center justify-between text-base md:flex md:pt-0 gap-8">
                    <li><a class="inline-block no-underline hover:border-b-2 hover:border-black hover:text-black py-2" asp-action="Index" asp-area="Admin" asp-controller="Home">About</a></li>
                    <li><a class="inline-block no-underline hover:border-b-2 hover:border-black hover:text-black py-2" asp-action="Post" asp-controller="Post">News</a></li>
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <li><a class="inline-block no-underline hover:border-b-2 hover:border-black hover:text-black py-2" asp-action="Index" asp-controller="Chat">Chat</a></li>
                        <li><a class="inline-block no-underline hover:border-b-2 hover:border-black hover:text-black py-2" asp-action="CartView" asp-controller="Cart">Cart</a></li>
                        <li><a class="inline-block no-underline hover:border-b-2 hover:border-black hover:text-black py-2" asp-action="favoriteView" asp-controller="UserInformation">Wishlist</a></li>
                    }
                </ul>
            </nav>

            <div class="flex items-center gap-4" id="nav-content">
                <partial name="_LoginPartial.cshtml" />
                @if (_signInManager.IsSignedIn(User))
                {
                    <a title="cart" class="inline-block no-underline hover:text-black" asp-action="CartView" asp-controller="Cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                }
                else
                {
                    <a title="cart" class="inline-block no-underline hover:text-black" asp-action="CartViewGuest" asp-controller="Cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                }
            </div>
        </div>
    </nav>

    <!-- banner -->
    <!-- content -->
    <section class="flex-wrap gap-6">
        @RenderBody()
    </section>
    <!-- footer -->
    <footer class="p-4 w-full bg-black text-gray-200 text-center">
        <ul class="mx-auto flex flex-wrap gap-8 font-medium my-4 text-lg" style="width:fit-content">
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">About</li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">Blogs</li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">Jobs</li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">Services</li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">Partners</li>
        </ul>
        <ul class="mx-auto flex flex-wrap gap-8 font-medium my-10 text-xl" style="width:fit-content">
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">
                <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">
                <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">
                <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">
                <i class="fa-brands fa-linkedin"></i>
            </li>
            <li class="cursor-pointer hover:text-gray-100 hover:font-medium">
                <i class="fa-brands fa-github"></i>
            </li>
        </ul>
        <div class="text-start" style="padding: 3rem">
            <div class="grid grid-cols-3 text-gray-500 gap-10">
                <div>
                    <ul>
                        <b class="text-white">Trending cities</b>
                        <li><a href="">Ho Chi Minh City</a></li>
                        <li><a href="">Da Nang City</a></li>
                        <li><a href="">Ha Noi City</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b class="text-white">Trending flowers</b>
                        <li><a href="">Roses</a></li>
                        <li><a href="">Lilies</a></li>
                        <li><a href="">Gerberas</a></li>
                        <li><a href="">Hydrangeas</a></li>
                        <li><a href="">Sunflowers</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b class="text-white">Events & Occasions</b>
                        <li><a href="">Happy Birthday</a></li>
                        <li><a href="">Love</a></li>
                        <li><a href="">Woman's Day</a></li>
                        <li><a href="">Funeral</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b class="text-white">Company</b>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Frequently Asked Questions</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b class="text-white">Why <i>us</i>?</b>
                        <li><a href="">Our magic</a></li>
                        <li><a href="">Customer Reviews</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <b class="text-white">Policies</b>
                        <li><a href="">Condition of purchase</a></li>
                        <li><a href="">Privacy and Legal</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="font-bold disabled" style="margin: 6rem 0 2rem 0">
            Privacy  |  Changelog
        </div>
        <div class="text-sm mt-lg-5 w-full py-4" style="border-top: 1px solid gray">
            © 2020 Your Company, Inc. All rights reserved.
        </div>
    </footer>

</body>
</html>


@await RenderSectionAsync("Scripts", required: false)